/node_modules/*
/logs
/public/video
/public/images
/public/static/js
/public/static/css
/.idea

~*
.directory
*.orig
.DS_Store
fabfile.pyc
*.zip
Dockerfile
docker-compose.yml
tasks.sh
package-lock.json

*.mp4
