@import 'helpers/index',
'base/index',
'layout/_container.scss';



.case {
    position: relative;


    video {
        position: relative;
        z-index: 1;
        width: 100%;
    }

    button {
        position: relative;
        z-index: 9;
    }
}

.layer {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 3;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .4s;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;

    &.is-visible {
        opacity: 1;
    }
}


html,
body {
    min-height: 100vh;
}

#root {
    width: 100%;
    min-height: 100vh;
    background-image: url('/static/img/bg013.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
}

.main-container {
    width: 100%;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-header {
    position: relative;
    z-index: 100;
    width: 100%;
    padding-top: 2em;
    box-sizing: border-box;

    @media (max-width: 768px) {
        text-align: right;
    }
}

.main-block {
    width: 100%;
    flex: 1;

    @media (max-width: $tablet-width) {
        display: flex !important;
        justify-content: center;
        .wrapper {
            height: 100%;
            flex: 1;
        }
    }

}

.main-page-link {
    position: absolute;
    right: 1rem;
    top: 50%;
    font-size: $p-18;
    color: #fff;
    padding: .5em 4em .5em 0;
    display: block;
    transform: translateY(-50%);

    &:after {
        content: '';
        display: block;
        width: 3rem;
        height: 3rem;
        background: url('http://144.76.16.119/i/icons/icon010.png');
        background-size: auto 100%;
        background-repeat: no-repeat;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        transition: transform .2s ease;
    }

    &:hover {
        &:after {
            transform: translateY(-50%) rotate(180deg);
        }
    }



    @media (max-width: 768px) {
        color: transparent;
        right: auto;
        left: 1rem;
        transform: translateY(-50%) rotate(180deg);
        font-size: 2px;

        &:after {
            transform: translateY(-50%) !important;
        }

    }

}

.ovh {
    overflow: hidden;
}



@media (max-width: 1024px) {
    html {
        font-size: 12px;
    }
}



@import 'components/filepicker',
    'components/input',
    'components/dropzone',
    'components/buttons',
    'components/range-slider',
    'components/videoHolder',
    'components/imageCroper',
    'components/patterns',
    'components/footer',
    'components/progressBar',
    'components/progress',
    'components/shareBlock',
    'components/admin',
    'components/scale',
    'components/firstScreen',
    'components/success',
    'components/modal',
    'components/rc-slider',
    'components/historiesLink',
    'components/playerScreen',
    'components/stories',
    'components/main';

@import 'components/player';