.btn {
  display: inline-block;
  font-size: 1.125em;
  color: #fff;
  padding: .9em 2em;
  border-radius: 2em;
  border: 1px solid #fff;
  position: relative;
  background-color: transparent;
  transition: 0.15s;
  outline: 0;
  min-width: 12.25em;
  cursor: pointer;
  line-height: 1;
  text-align: left;

  &:hover {
    background: #034ea2;
  }

  .is-disabled,
  [disabled] {
    color: #efefef;
    border-color: #efefef;
    cursor: default;

    &:hover {
      background-color: transparent !important;
    }
  }
}