.dropZone {
  display: inline-block;
  border: 1px solid #fff;
  padding: .75em 1em;
  border-radius: 2em;
  color: #fff;
  cursor: pointer;
  transition: background .4s;

  &:hover {
    background-color: $color-blue;
  }

}