.imageCroper {
  width: 100%;
  min-height: 0;
  opacity: 0;
  max-height: 0;
  margin-top: 0;
  overflow: hidden;

  &.is-visible {
    max-height: 100%;
    min-height: 1.875em;
    opacity: 1;
    overflow: visible;
  }

  .konvajs-content {
    transform: scale(0.5);
    transform-origin: 0 0;
  }
  .canvas {
    width: 100%;
    overflow: hidden;
    box-shadow: 0 0 .938em rgba(0, 0, 0, .2);
  }

  canvas {
    cursor: grab;

    &:active {
      cursor: grabbing;
    }

  }
}

.imageHolder {
  padding:  1.875em 1em;
  background-color: rgba(255,255,255,0.3);
}