.playerScreen {
    overflow: hidden;
    @media (max-width: $tablet-width) {
        padding-top: 2em;
        padding-bottom: $p-20;
    }


    .firstSlide {
        transition: transform .3s, max-height .3s;
        max-height: 100%;

        &.hidden {
            transition: transform .6s .1s, max-height .3s;
            transform: translateY(-100%);
            max-height: 0;
        }

    }

    .secondSlide {
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 99;
        background-color: #fff;
        transform: translateY(100%);
        transition: transform .4s;

        &.showed {
            transform: translateY(0);
            position: absolute;
        }

    }
    
    .playerlink {
        color: #fff;
        margin-top: $p-20;
        margin-bottom: $p-10;
        a {
            color: #fff;
            border-bottom: 1px solid transparent;

            &:hover {
                border-color: #fff;
            }
        }
    }

    .createAnotherVideo {
        margin-top: $p-20;

        @media (max-width: $tablet-width) {
            margin-top: $p-5;
        }
    }
}