.success {
    color: #fff;

    a {
        display: inline-block;
        color: #fff;
        border-bottom: 1px solid transparent;
        transition: border .4s;

        &:hover {
            border-color: #fff;
        }
    }
}